[submodule "xcompose"]
	path = xcompose
	url = https://github.com/kragen/xcompose.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "awesome/pomodoro"]
	path = awesome/pomodoro
	url = git@github.com:kiike/awesome-pomodoro.git
